<%= render 'layouts/header1' %>

<div class="container">
	<h1>Home</h1>
	<h1>Emergancy<h1>
	 <p>If you have an emgancy please, reach out to the police </p>
 <li><%= link_to " Sexual assult", pages_Sexual_assault1_url %></li>
 <li><%= link_to " Prenatal", pages_Prenatal_sweden %></li>


</div>
