<h1>Emergancy<h1>
 <p>If you have an emgancy please , reach out to the police </p>

  <button type="button" name="Sexual assult"></button>
  <button type="button" name="Prenatial "></button>
  <button type="button" name="Conerceptive/ Plan B"></button>
  <button type="button" name="Prenavite"></button>
