<%= render 'layouts/header1' %>
<h1>Health Care in India </h1>

<p>Zika is a risk in India. Zika infection during pregnancy can cause serious birth defects.
If you engaged in unprotected consensual or forced sexual intercourse, speak with your health-care provider about the risk of Zika.</p>

<p><b>Welcome to Delhi!</b><br/>
Delhi is an exciting and wonderful place but that can also be a difficult city for women to navigate.</p>

<p>In India,  contraceptives are legal and can be purchased without a prescription in pharmacies. If you need contraception, go to the nearest pharmacy and ask for your contraception of choice. Emergency contraception is also sold without a prescription, although some brands may not be available. Because of cultural norms, some women report feeling uncomfortable when seeking such services. Remember, these services are legal and are available in India. Even if you are made to feel intimidated, they are required to provide you with your contraception.</p>
  <p>Pads and tampons are available everywhere, although tampons may not be as available and may come without applicators.  The menstrual cup is more difficult to find.</p>
<p>In India, you can purchase many medications without a prescription from any pharmacy. It is highly recommend that you seek advice from a medical professional before starting any medication.</p>

<p>India has a vast health care system. All government hospitals are required to provide free of cost healthcare facilities to the patients. The government health care system is designed as a three-tier structure comprising primary, secondary, and tertiary facilities. In rural areas, primary health care services are provided through a network of subcenters, primary health centers, and community health centers.India’s private health care sector is not well regulated. Private health care providers deliver an array of outpatient services in solo practices ranging from those not registered with the relevant medical council to trained medical practitioners to small nursing homes and multispecialty clinics. Ask if your is registered.  All government hospitals are required to provide free of cost healthcare facilities to the patients</p>

<p>Sexual assault in India is serious concern.  Delhi is one of the worst places in the world for sexual violence against women,Practice vigilance. Travel in groups, do not walk alone at night, and travel in pairs when using public transportation. Safety apps have also been launched, taxi and rickshaw drivers have received lessons on gender and women’s self-defence classes and women-only taxi services have also sprung up around the city.There were 2,155 rapes recorded in Delhi in 2016 - a rise of 67 per cent from 2012, according to police data. </p>
