<%= render 'layouts/header1' %>
<!DOCTYPE html>
<html>
  <head>
  <title>landing page</title>
  </head>
  <body>
    <h2>India- New Delhi</h2>
    <p>Zika is a risk in India. Zika infection during pregnancy can cause serious birth defects. If you engaged in unprotected consensual or forced sexual intercourse, speak with your health-care provider about the risk of Zika.
Welcome to Delhi!
Delhi is an exciting and wonderful place but that can also be a difficult city for women to navigate.
In India,  contraceptives are legal and can be purchased without a prescription in pharmacies.<%= link_to "Read more" , pages_India_summary_url %></p>

<h2>Sweden</h2>
<p>Sweden is wonderful, politically stable country and has a healthcare system that is consistently referenced to as a model system.
  There are typically very positive experiences described by those who are pregnant travelling in Sweden and statistics have shown consistent decline in maternal mortality over the years.
  Different than in the US, prenatal care is provided by midwives unless there are complications.


  </body>
</html>
