<% provide(:title, "Prenatal_sweden") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%= render 'layouts/header1' %>

<h2>locations of sti clinics </h2>

<h2>articles</h2>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>

</body>
</html>
