<%= render 'layouts/header1' %>
<% provide(:title, "Prenatal_sweden") %>
<!DOCTYPE html>
<html>
<head>
<title>Prenatal Sweden</title>
</head>

<body>



<div>
<h1><b>What to look out for when travelling during the second trimester of your pregnancy.</b></h1>

<p>Generally, the second trimester is the ideal time to travel. However, some possible conditions that can occur during the second trimester:
<ul>
<li>bleeding</li>
<li> preterm contractions</li>
<li> blood clots, especially during long travel</li>
</ul>

 These may or may not be indicative of a serious medical condition in the pregnancy. <b>If you encounter any of these symptoms before or during travel, please make sure to seek a healthcare provider for assessment</b>

 <br/>In addition, please check with your health care provider before travelling internationally to discuss the safety factors for you and your baby. Before you adventure abroad,<a href="http://americanpregnancy.org/pregnancy-health/traveling-during-pregnancy/  " target="_blank">here</a> here are some helpful items to keep in to mind as you plan your trip.</p>


 </div>


<h1>Contrary to the US, the best providers for maternity care in Sweden are midwives.</h1>

<p>Sweden has a long history of professionally training midwives, who provide the majority of maternity care, which is different from the US. There are many midwife reception centers throughout the country and they also offer STI testing, prescriptions for contraception pills, and pregnancy tests. </p>


<h2>Locations of nearest medical clinics </h2>

<%= content_tag(:iframe,'', width: 400, height: 300, src: "https://www.google.com/maps/embed/v1/search
	?key=AIzaSyBtiB6Lnc8zSXP_vWAbkvusHkncFd52iiw
	&q=medical+centers+in+#{current_user.current_location}") %>


</body>
</html>
