<% provide(:title, "Prenatal_sweden") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%= render 'layouts/header1' %>

<h2>locations of sti clinics </h2>

<%= content_tag(:iframe,'', width: 400, height: 300, src: "https://www.google.com/maps/embed/v1/search
	?key=AIzaSyBtiB6Lnc8zSXP_vWAbkvusHkncFd52iiw
	&q=medical+centers+in+#{current_user.current_location}") %>

<h2>articles</h2>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>

</body>
</html>
