<% provide(:title, "Sexual_assult1") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>emgancy</h1>

<h2>hospital location</h2>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<ul>
  <li>hospital 1</li>
  <li>hospital 2</li>
</ul>

<h2>transpertation to services</h2>
<button type="button" name="Uber"></button>
<button type="button" name="lift"></button>


<h2>articles</h2>
<ul>
  <li>place holder</li>
  <li>place holder</li>
</ul>

</body>
</html>
