<% provide(:title, "Sexual_assault1") %>
<!DOCTYPE html>
<html>


<head>
Summary Women's Health India 
</head>

<body>

<div> 
<h1>Health Care in India </h1>

<p> Zika is a risk in India. Zika infection during pregnancy can cause serious birth defects. If you engaged in unprotected consensual or forced sexual intercourse, speak with your health-care provider about the risk of Zika.
<br>Welcome to Delhi! </br>

Delhi is an exciting and wonderful place but that can also be a difficult city for women to navigate. In India,  contraceptives are legal and can be purchased without a prescription in pharmacies. If you need contraception, go to the nearest pharmacy and ask for your contraception of choice. Emergency contraception is also sold without a prescription, although some brands may not be available. Because of cultural norms, some women report feeling uncomfortable when seeking such services. Remember, these services are legal and are available in India. Even if you are made to feel intimidated, they are required to provide you with your contraception. Pads and tampons are available everywhere, although tampons may not be as available and may come without applicators.  The menstrual cup is more difficult to find. 

Read More 



</div>

<ul>
  <li>hospital 1</li>
  <li>hospital 2</li>
</ul>



<h2>articles</h2>
<ul>
  <li>place holder</li>
  <li>place holder</li>
</ul>

</body>
</html>
