<%= render 'layouts/header1' %>
<% provide(:title, "Sexual_assault1") %>
<!DOCTYPE html>
<html>

<head>
<title>Summary Women's Health India</title>
</head>

<body>

<div>
<h1> If this is an Emergency, call  112.
If you have experienced sexual assault and have already been to a hospital, call the Delhi’s women helpline:  1091/1092 for information on emotional, mental, and legal support.
 </h1>

</div>

<div>
<h1>Seek immediate health and mental service. </h1>

In India, both private and public health professionals are obligated to provide treatment by law.  Denial of treatment of rape survivors is punishable under law. You do not need to file a police report before accessing medical services. Head to the nearest hospital or clinic immediately.

Here is a checklist of what to expect and demand for the health care provider:

<ul>
<li> Health care provide should ask for you informed consent before examination, evidence collection and disclosing information to law enforcement agencies. Consent is mandatory before examination </li>
<li> Health provide will ask for detailed documentation of history of assault, gender sensitive examination, and may collectrelevant forensic evidence </li>
<li> This examination should be free and they should be able to refer you to appropriare mental health services </li>
<li> Health care provider should provide referalsto appropriate agencies for further help like legal support services, shelter services etc. </li>
</ul>

<p>Currently, there is no prepackaged standardized “kit” in India but there are established procedures for clinic examinations for sexual assaults survivors. </p>
<p>If your healthcare provider does not test for STIs, visit a testing center in Delhi. Follow up testing for STI’s should also occur 1-2 months after the assault. For more information on where to seek testing in Delhi, visit <a href="https://www.better2know.in/clinics/city/delhi" target="_blank">Better2Know</a></p>

</div>

<div> <href= Addtional Articles and Resources </div>
<h1><a href="https://www.rainn.org/articles/intimate-partner-sexual-violence" target="_blank">Intimate Partner Sexual Violence </a> </h1>

<p>A perpetrator can have any relationship to a victim, and that includes the role of an intimate partner. There are many different terms to refer to sexual assault committed by a person in a relationship with the victim, including: intimate partner sexual violence, domestic violence, intimate partner rape, marital rape, and spousal rape. No matter what term is used or how the relationship is defined, it is never okay to engage in sexual activity without someone’s consent.</p>

<h1><a href="http://www.pcar.org/about-sexual-violence/women" target="_blank">About Sexual Assault</a> </h1>

<p>Sexual violence is a term meant to include any type of unwanted sexual contact. This can include words and actions of a sexual nature including, but not limited to:
<ul>
<li>Rape</li>
<li>Sexual assault</li>
<li>Incest</li>
<li>Child sexual assault</li>
<li>Date and acquaintance rape </li>
<li>Grabbing or groping </li>
</ul>
</p>

<h2>Locations of nearest medical clinics </h2>

<%= content_tag(:iframe,'', width: 400, height: 300, src: "https://www.google.com/maps/embed/v1/search
	?key=AIzaSyBtiB6Lnc8zSXP_vWAbkvusHkncFd52iiw
	&q=medical+centers+in+#{current_user.current_location}") %>

</body>
</html>
