<%= render 'layouts/header1' %>
<h1>Health Care in Sweden </h1>

<h1>Welcome to Sweden!</h1>
Sweden is wonderful, politically stable country and has a healthcare system that is consistently referenced to as a model system. 
Here are some quick notes to keep in mind if you need medical care while in Sweden.
Without documents, unless you are below 18 years old, you may only be able to receive emergency medical and dental care. If you are sick or need medical care, first call 1177, which is the medical services line, to discuss with a nurse, who can help determine if the inquiry can be resolved over the phone, if you need to go to a health center, or if you need to go to an ER. Health centers are typically the first point of care for most treatments, and generally have less wait times than ERs. Once seen at a health center, you can receive a referral to a specialty clinic such as the maternity clinic for pregnant women or the gynaecologist, who can help assist with sexual and reproductive health inquiries . If there is an emergency, call 112.

<h1>An Overview of the Sweden Healthcare System.</h1>
<p>Healthcare coverage in Sweden is universal, which means all residents, including expatriates, have access to publicly financed healthcare services. This system covers inpatient and outpatient hospital care, prescription drugs, primary healthcare, dental care for children and young people, public health and preventive services, disability support and rehabilitation services. In addition, homecare, nursing home-care, and patient transport support services are also covered under the publicly financed healthcare system. However, contrary to popular belief, healthcare in Sweden isn’t always 100 percent free. Cost-sharing arrangements are available for most publicly financed services.</p>

<h1>How to purchase prescription medicines and other prescription products in Sweden</h1>
<p>Medications can be obtained at Apoteket, which is a state-owned pharmaceutical company and is the largest provider of medications in Sweden. In order for you to pick up prescription drugs at a pharmacy or order them online from apoteket.se a doctor or other prescriber must write a prescription for you.</p>

<h1>How to purchase feminine products in Sweden</h1>
<p>It can be difficult to find tampons for purchase in Sweden, as they are not widely available. Most women switch to using maxi pads. If you are looking to purchase tampons, and you are unable to find them at a local store, they can be purchased online via drugstore.com (America version) and shipped via myUS.com to Sweden. MyUS.com is a shipping service that provides a way for products to be purchased from American stores and shipped abroad.</p>

<h1>If you are having intercourse or have had intercourse, consensual or forced, it is very important to undergo STI testing.</h1>

<p>In Sweden, health centers are typically the first point of care and per law, you are required to undergo STI testing if there is a suspicion of having contracted a sexually transmitted infection. STI testing is free for any individuals and is available through health centers, gynecological clinics, youth centers, and midwife receptions centers. If there are any questions, you can always call 1177 for advice.</p>
 
<h1>How and where can you purchase contraceptives in Sweden?</h1>
<p>The morning-after pill is available over the counter or behind the counter in Sweden and in other parts in Europe. A prescription is required in order to purchase contraceptives everywhere except in the UK. Midwife reception centers in Sweden can provide prescriptions to contraception pills. Levonorgestrel-only emergency contraception pills, which are effective for up to 3 days after intercourse, cost around €17 when bought over the counter at pharmacies, hospitals and family planning clinics. It can be obtained free of charge in various public health centres, particularly youth clinics. Other options include ulipristal acetate emergency contraception pills, which are effective for up to 5 days after intercourse, and an IUD, if it is placed within 5 days after intercourse.</p>

<p>If you have had unprotected intercourse, consensual or forced, to reduce the risk of pregnancy, some emergency measures will be needed. 
Emergency contraception (often called morning-after-pill or Plan B) is a pill that you can take after you have had unprotected intercourse, to reduce the risk of pregnancy. The sooner you take the pill, the less likely you are to get pregnant.</p>

